@media screen and (max-width: 600px){
	header img{
		margin-left: 50%;
		margin-right: 50%;

	}
	body{
		font-size:100%;
		background-color:#f6f6f6;
	}
	#hello nav{
		margin-top: 1.5em;
	}
	#content{
		display:none;
	}
	#hello nav a{
		font-size: 0.8em;
	}
	footer {
		font-size: 1.2em;
		margin-top: 6em;
		padding:3em;
	}
	footer img{
		width:25px;
	}
}
